.timeline-item {
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  color: rgb(105, 112, 122);
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  overflow-wrap: break-word;
  text-align: left;
}

.timeline-item-content {
  border-left-color: rgb(242, 246, 252);
  border-left-style: solid;
  border-left-width: 4px;
  box-sizing: border-box;
  color: rgb(105, 112, 122);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 48px;
  padding-left: 48px;
  padding-top: 0px;
  text-align: left;
  width: 559.8px;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem 0 rgba(33, 40, 50, 0.2) !important;
}

.timeline-item-marker {
  flex-direction: row;
  transform: translateX(1.625rem);
  margin-bottom: 0;
  overflow-wrap: break-word;
  display: inline-flex;
  height: 100%;
  
}

.timeline-item-marker-indicator {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    background-color: #f2f6fc;
    border-radius: 100%; 
}

.timeline-item-marker-text {
    font-size: 0.875rem;
    width: 6rem;
    color: #a7aeb8;
    text-align: center;
    margin-bottom: 0.5rem;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-items: center;
    margin-top: 0.875rem;
}

.feather {
  height: 1rem;
  height: 1rem;
}

.bg-success-soft {
  background-color: #daefed !important;
}